<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualización de Información</title>
    <link rel="stylesheet" href="/public/css/updateInfo.css">
</head>

<body>
    <div class="container">
        <!-- <div class="title">
            <h1>Actualiza tu Información</h1>
        </div> -->
        <div class="update-info" id="updateInfo">
            <form action="/userUpdateInfomm" method="post" id="updateForm">
                <!-- Sección de información actual (no editable) -->
                <h2 class="title-infoActual">Tu Información Actual</h2>
                <ul class="list oldInfo-group" id="oldInfoGroup">
                    <li><label>Nombres: <input disabled="true" id="currentNames" type="text"
                                value="Cristhian Alejandro"></input></label></li>
                    <li><label>Apellidos: <input disabled="true" id="currentLastNames" type="text"
                                value="Barrientos Moya"></input></label></li>
                    <li><label>Usuario Actual: <input disabled="true" id="currentUsername" type="text"
                                value="User"></input></label></li>
                    <li><label>Email Actual: <input disabled="true" id="currentEmail" type="text"
                                value="pruebas@gmail.com"></span></label></li>
                    <!-- <li><label>Contraseña Actual: <input id="currentEmail" type="text" value="user"></span></label></li> -->
                </ul>
                <!-- Sección para actualizar información (editable) -->
                <!-- <h2>Actualizar Información</h2> -->
                <!-- <br> -->
                <h1 class="titleNewInfo">Tu Nueva Información</h1>
                <!-- <br> -->

                <ul class="list update-group" id="updateGroup">

                    <!-- <li><label for="newNames">Nuevos Nombres: <input type="text" id="newNames" name="newNames"></label></li> -->
                    <!-- <li><label for="newLastNames">Nuevos Apellidos: <input type="text" id="newLastNames" name="newLastNames"></label></li> -->
                    <li><label for="newUsername">Nuevo Usuario: <input type="text" id="newUsername" name="newUsername"
                                placeholder="Ingresa un nuevo usuario"></label></li>
                    <li><label for="newEmail">Nuevo Email: <input type="email" id="newEmail" name="newEmail"
                                placeholder="Ingresa un nuevo email"></label></li>
                    <li><label for="oldPassword">Antigua Contraseña: <input type="password" id="oldPassword"
                                name="oldPassword" required></label></li>
                    <li><label for="newPassword">Nueva Contraseña: <input type="password" id="newPassword"
                                name="newPassword" required></label></li>
                </ul>

                <button type="submit" id="updateButton">Actualizar</button>
            </form>
        </div>
    </div>
</body>

</html>