<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/index.css">
    <script src="/src/controllers/index.js"></script>
    <title>Pantalla Principal</title>
</head>
<body>
    <header>
        <!-- <label for="button-login">Ingresa al Login</label> -->
        <input type="submit"  class="button-login" id="buttonLogin" value="Ir a Login">
    </header>
</body>
</html>