<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Acrist</title>
  <link rel="stylesheet" href="/public/css/login.css">
  <script src="/src/controllers/login.js" defer></script>
  <!-- <script src="/proy_FC/src/controllers/dashboard.js" defer></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- Agregar las dependencias de GSAP necesarias para las animaciones -->
  <script src="https://unpkg.com/gsap@3.11.0/dist/gsap.min.js"></script>
  <script src="https://assets.codepen.io/16327/ScrambleTextPlugin3.min.js"></script>
  <script src="https://assets.codepen.io/16327/MorphSVGPlugin3.min.js"></script>
</head>

<body>
  <div class="container" style="width: 70vw; height: 80vh; visibility: visible; will-change: auto;">
    <!-- Sección Izquierda -->
   <div class="left-side">
      <div class="left-side up">
        <h2>SISTEMA ACRIST</h2>
        <p>
          "Presupuestos inteligentes para un futuro brillante"<br>
          En future cash, nos preocupamos por tus finanzas y sabemos que solo necesitas un pequeño empujón.
        </p>
      </div>
      <div class="left-side down">
        <h2>BENEFICIOS</h2>
        <ul>
          <!-- <li>Control</li> -->
          <li>Futuro</li>
          <li>Finanzas</li>
          <li>Confianza</li>
        </ul>
      </div>
    </div>

    <!--=================================== LOGIN ==============================-->

    <!-- Sección Derecha -->
    <!-- <form id="form-login"> -->
      <div class="right-side">
        <div class="form-container login-form" id="login-form" style="
        width: 100%;
        height: 100%;
        padding: 8% 5% 5% 5%;">
          <h1>BIENVENIDO A Future CASH</h1>
          <!-- <p>Ingresa los datos de tu perfil a continuación...</p> -->
          <label for="user">Usuario: <span class="required user">*</span>
            <input type="text" id="user" placeholder="Escribe tu usuario" value="admin" required />
          </label>

          <label for="password">Contraseña: <span class="required password">*</span>
            <div class="form-group">
              <input type="password" id="password" placeholder="Escribe tu contraseña" value="admin" required />
              <button type="button" title="Muestra tu Contraseña" aria-pressed="false">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <defs>
                    <mask id="eye-open">
                      <path d="M1 12C1 12 5 4 12 4C19 4 23 12 23 12V20H12H1V12Z" fill="#D9D9D9" stroke="black"
                        stroke-width="1.5" stroke-linejoin="round" />
                    </mask>
                    <mask id="eye-closed">
                      <path d="M1 12C1 12 5 20 12 20C19 20 23 12 23 12V20H12H1V12Z" fill="#D9D9D9" />
                    </mask>
                  </defs>
                  <path class="lid lid--upper" d="M1 12C1 12 5 4 12 4C19 4 23 12 23 12" stroke="currentColor"
                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  <path class="lid lid--lower" d="M1 12C1 12 5 20 12 20C19 20 23 12 23 12" stroke="currentColor"
                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  <g mask="url(#eye-open)">
                    <g class="eye">
                      <circle cy="12" cx="12" r="4" fill="currentColor" />
                      <circle cy="11" cx="13" r="1" fill="black" />
                    </g>
                  </g>
                </svg>
                <span class="sr-only">Muestra tu Contraseña</span>
              </button>
            </div>
          </label>

          <button type="button" id="buttom-login">
            <span data-test="text-content"> Ingresar</span>
          </button>
          <div class="links">
            <span class="span-login">¿No cuentas con un usuario?</span>
            <a href="#" id="show-signup">Registrarse</a>
            <a href="/src/views/dashboard.html">Dashboard</a>
          </div>
        </div>
    <!-- </form> -->
    <!--=================================== SIGNUP ==============================-->

    <div class="form-container signup-form" id="signup-form" style="width: 100%; height: 100%; padding: 5% 5% 5% 5%;">
      <div class="links">
        <span class="span-signup"></span>
        <a id="show-login" class="fa fa-angle-left"> Volver</a>
      </div>
      <h1>Crea tu cuenta aquí</h1>

      <!-- PRIMER NOMBRE -->
      <label for="frst-name-user">Primer Nombre: <span class="required frst-name">*</span></label>
      <input type="text" id="frst-name-user" placeholder="Ingresa tu Primer Nombre" required>

      <!-- SEGUNDO NOMBRE -->
      <label for="scnd-name-user">Segundo Nombre: <span class="required scnd-name">*</span></label>
      <input type="text" id="scnd-name-user" placeholder="Ingresa tu Segundo Nombre" required>

      <!-- PRIMER APELLIDO -->
      <label for="frst-lstname-user">Primer Apellido: <span class="required lst-name">*</span></label>
      <input type="text" id="frst-lstname-user" placeholder="Ingresa tu Primer Apellido" required>

      <!-- SEGUNDO APELLIDO -->
      <label for="scnd-lstname-user">Segundo Apellido: <span class="required scnd-lst-name">*</span></label>
      <input type="text" id="scnd-lstname-user" placeholder="Ingresa tu Segundo Apellido" required>

      <!-- FECHA DE NACIMIENTO -->
      <label for="birthday-users">Fecha de Nacimiento: <span class="required" id="mensajeBirthday">*</span></label>
      <input type="date" id="birthday-users" required>

      <!-- CORREO -->
      <label for="email">Correo: <span class="required email">*</span></label>
      <span id="mensajeEmail" style="color:red"></span>
      <input type="email" id="email" placeholder="Ingresa tu correo" required>

      <!-- GÉNERO -->
      <div class="gender-group" id="genderGroup">
        <label for="genre">Género: <span class="required genre">*</span></label>
        <div class="gender-options">
          <input type="radio" id="male" name="genre" value="M" checked>
          <label for="male">Hombre</label>
          <input type="radio" id="female" name="genre" value="F">
          <label for="female">Mujer</label>
        </div>
      </div>

      <!-- USUARIO -->
      <label for="new-username">Usuario: <span class="required username">*</span></label>
      <input type="text" id="new-username" placeholder="Elige tu Usuario" title="Elige tu nombre de usuario" required>

      <!-- CONTRASEÑA -->
      <label for="new-password">Contraseña: <span class="required psswrd">*</span></label>
      <input type="password" id="new-password" placeholder="Crea tu contraseña" required>
      <span id="spanPassword">
        <img id="imgForSpan" src="/public/imagenes/eye_11614427.gif" width="5" height="5" alt="ofuscacion">
      </span>

      <!-- BOTÓN DE INGRESO -->
      <button id="buttom-signup">
      <span data-test="text-content">Registrar</span>
      </button>
    </div>
  </div>
  </div>

</body>

</html>