<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráficas</title>
    <link rel="stylesheet" href="/public/css/graficas.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="chart-container">
        <h2>Apuntes: pagina para graficas con implementacion de analiticas , grafico de pruebas</h2>
        <canvas id="barChart"></canvas>
    </div>
    
</body>
</html>
